<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <!-- Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="/admin">
        <i class="fas fa-home menu-icon"></i>
        <span class="menu-title">Main Page</span>
      </a>
    </li>
    <!-- Courses -->
    <li class="nav-item">
      <a class="nav-link" href="/admin/courses">
        <i class="fas fa-book-open menu-icon"></i>
        <span class="menu-title">Courses</span>
      </a>
    </li>
    <!-- Instructors -->
    <li class="nav-item">
      <a class="nav-link" th:href="@{/admin/instructors}">
        <i class="fas fa-chalkboard-teacher menu-icon"></i>
        <span class="menu-title">Instructors</span>
      </a>
    </li>
    <!-- Testimonials -->
    <li class="nav-item">
      <a class="nav-link" th:href="@{/admin/testimonials}">
        <i class="fas fa-comment-dots menu-icon"></i>
        <span class="menu-title">Testimonials</span>
      </a>
    </li>
    <!-- Students -->
    <li class="nav-item">
      <a class="nav-link" href="/admin/students">
        <i class="fas fa-user-graduate menu-icon"></i>
        <span class="menu-title">Students</span>
      </a>
    </li>
    <!-- Department -->
    <li class="nav-item">
      <a class="nav-link" href="/admin/departments">
        <i class="fas fa-building menu-icon"></i>
        <span class="menu-title">Departments</span>
      </a>
    </li>
    <!-- Messages -->
    <li class="nav-item">
      <a class="nav-link" href="/admin/messages">
        <i class="fas fa-envelope menu-icon"></i>
        <span class="menu-title">Messages</span>
      </a>
    </li>
    <!-- Users -->
    <li class="nav-item">
      <a class="nav-link" href="/admin/users">
        <i class="fas fa-user menu-icon"></i>
        <span class="menu-title">Users</span>
      </a>
    </li>
  </ul>
</nav>
