
<!-- Topbar Start -->
<div class="container-fluid bg-dark">
    <div class="row py-2 px-lg-5">
        <div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center text-white">
                <small><i class="fa fa-phone-alt mr-2"></i>+012 562 62 19</small>
                <small class="px-3">|</small>
                <small><i class="fa fa-envelope mr-2"></i>fidanmammadli28@gmail.com</small>
            </div>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <a class="text-white px-2" href="https://www.facebook.com/itbrainacademy/">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="text-white px-2" href="https://x.com/i/flow/login?redirect_after_login=%2Fitbrainsuk">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="text-white px-2" href="https://www.linkedin.com/company/itbrains-academy/?originalSubdomain=az">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a class="text-white px-2" href="https://www.instagram.com/itbrains_academy/">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="text-white pl-2" href="https://www.youtube.com/c/ITBrains">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Navbar Start -->
<div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5">
        <a th:href="@{/}" class="navbar-brand ml-lg-3">
            <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-book-reader mr-3"></i>Edukate</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between px-lg-3" id="navbarCollapse">
            <div class="navbar-nav mx-auto py-0">
                <a th:href="@{/}" class="nav-item nav-link">Home</a>
<!--                eger nav-link den sonra active yazsan home sozu goy veziyyetde qalacaq-->
                <a th:href="@{/about}" class="nav-item nav-link">About</a>
                <a th:href="@{/courses}" class="nav-item nav-link">Courses</a>
                <a th:href="@{/team}" class="nav-item nav-link">Instructors</a>
                <a th:href="@{/testimonial}" class="nav-item nav-link">Testimonial</a>

                <a th:href="@{/contact}" class="nav-item nav-link">Contact</a>
            </div>
            <a th:href="@{/register}" class="btn btn-primary py-2 px-4 d-none d-lg-block">Join Us</a>
        </div>
    </nav>
</div>
<!-- Navbar End -->

